<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1><% if (editing) { %>Edit Product<% } else { %>Add Product<% } %></h1>
    
    <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
      
      <label for="title">Title</label>
      <input 
        type="text" 
        name="title" 
        id="title" 
        value="<% if (editing) { %><%= product.title %><% } %>" />

      <label for="price">Price</label>
      <input 
        type="number" 
        name="price" 
        id="price" 
        step="0.01" 
        value="<% if (editing) { %><%= product.price %><% } %>" />

      <label for="description">Description</label>
      <textarea name="description" id="description" rows="5"><% if (editing) { %><%= product.description %><% } %></textarea>

      <% if (editing) { %>
        <input type="hidden" value="<%= product.id %>" name="productId">
      <% } %>

      <button type="submit">
        <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
      </button>
      
    </form>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
