<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1>Cart</h1>
    <% if(products.length > 0) { %>
      <h2>TotalPrice: <%= totalPrice %></h2>
      <% for (let product of products) { %>
          <p><%= product.title %></p>
          <p>Price: <%= product.price %></p>
         
          <p>Description  <%= product.description %></p>
          <p>QTY: <%= product.qty %></p>
          <form action="/cart-delete-item" method="POST">
            <input type="hidden" value="<%= product.id %>" name="productId">
            <button type="submit">Delete</button>
          </form>
        <% } %>
    <% } else { %>
        <h1>No Products Found!</h1>
      <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
