<%- include('../includes/head.ejs') %>

  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <% if(prods.length > 0) { %>
      <h1>This is shop Page</h1>
      <div>
        <% for (let product of prods) { %>
        <h2><%= product.title %></h2>
        <p>Price: <%= product.price %></p>
        <p>Description  <%= product.description %></p>
          <%- include('../includes/add-to-cart.ejs', {product: product}) %>
        <% } %>
        </div>
      <% } else { %>
      <h1>No Products Found!</h1>
      <% } %>
    </main>
<%- include('../includes/end.ejs') %>
