<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <h1><%= product.title %></h1>
    <hr />
    <h2><%= product.price %></h2>
    <h2><%= product.description %></h2>
   <%- include('../includes/add-to-cart.ejs') %>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
